/* General styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header styles */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* About section styles */
.about-section {
    padding: 20px;
    background: #f4f4f4;
    color: #333;
}

.about-section h2 {
    margin-top: 0;
}

/* Web Projects section styles */
.web-projects-section {
    padding: 20px;
    background: #e2e2e2;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.project h3 {
    margin-top: 0;
}

.project a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.project a:hover {
    color: #77aaff;
}

/* Figma Designs section styles */
.figma-designs-section {
    padding: 20px;
    background: #d1d1d1;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.project h3 {
    margin-top: 0;
}

.project a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.project a:hover {
    color: #77aaff;
}

/* Contact section styles */
.contact-section {
    padding: 20px;
    background: #f4f4f4;
    color: #333;
}

.contact-section a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.contact-section a:hover {
    color: #77aaff;
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
